<div class="container row" ng-controller="StudyRecordsCtrl as myCtrl">
    <div class="fields-container col-lg-3">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#newProjectDialog">New project
        </button>
        <modal-dialog id="newProjectDialog" dialog-title="New project">
            <dialog-body>
                <form-group for="domain" label="Project domain">
                    <input id="domain" type="text" class="form-control" ng-model="newProj.domain">
                </form-group>
                <form-group for="subDomain" label="Sub domain">
                    <input id="subDomain" type="text" class="form-control" ng-model="newProj.subDomain">
                </form-group>
                <form-group for="startDate" label="Start date">
                    <input class="form-control" date-time name="startDate" ng-model="formValues.startDate"
                           id="startDate" min-view="date" max-date="today" view="date" format="YYYY-MM-DD">
                </form-group>
            </dialog-body>
            <dialog-footer>
                <button type="submit" class="btn btn-primary" ng-click="newProject()">OK</button>
            </dialog-footer>
        </modal-dialog>

        <ul class="field-list list-unstyled">
            <li ng-repeat="f in projects track by f.id">
                <div class="project-item">
                    <div>
                        <a>{{f.domain}}</a> &gt <a>{{f.subDomain}}</a>
                        <button class="close" type="button" data-toggle="modal" data-target="#confirmDelete-{{f.id}}">&times;</button>
                        <modal-dialog id="confirmDelete-{{f.id}}" dialog-title="Confirm delete" no-close="{{true}}">
                            <dialog-body>
                                Delete the project?
                            </dialog-body>
                            <dialog-footer>
                                <button type="button" class="btn btn-danger" ng-click="deleteProject(f)" data-dismiss="modal">OK</button>
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                            </dialog-footer>
                        </modal-dialog>
                    </div>
                    <div><a>{{f.hours}} hours</a></div>
                    <div>since {{f.startDate|date:'yyyy-MM-dd'}}</div>
                </div>
            </li>
        </ul>

    </div>
    <div class="col-lg-9">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPracticeDialog">
            add practice
        </button>
        <modal-dialog id="addPracticeDialog" dialog-title="Add practice record">
            <dialog-body>
                <form-group for="projectSelector" label="Select project">
                    <select id="projectSelector" class="form-control" ng-model="newPractice.project">
                        <option ng-repeat="p in projects track by p.id" value="p.id">
                            {{p.domain}} &gt {{p.subDomain}}
                        </option>
                    </select>
                </form-group>

                <form-group for="practiceHours" label>
                    <input id="practiceHours" type="number" class="form-control" ng-model="newPractice.hours">
                </form-group>

                <form-group for="practiceDate" label="Date">
                    <input date-time id="practiceDate" class="form-control" min-view="date" max-date="today"
                           ng-model="newPractice.date" format="YYYY-MM-DD" view="date">
                </form-group>
                <form-group for="practiceNote" label="Note">

                    <textarea id="practiceNote" class="form-control" ng-model="newPractice.note" maxlength="150"></textarea>
                </form-group>
            </dialog-body>
            <dialog-footer>
                <button type="submit" class="btn btn-primary" ng-click="addPractice()">OK</button>
            </dialog-footer>
        </modal-dialog>
        <div ng-repeat="r in records">
            <record-detail record="r"></record-detail>
        </div>
    </div>
</div>